@font-face {
 font-family: "Lovelace";
 font-style: normal;
 font-weight: 100;
 src: url(./fonts/Lovelace-ExtraLight.woff) format("woff");
}

@font-face {
 font-family: "Lovelace";
 font-style: normal;
 font-weight: 200;
 src: url(./fonts/Lovelace-Light.woff) format("woff");
}

@font-face {
 font-family: "Lovelace";
 font-style: normal;
 font-weight: 400;
 src: url(./fonts/Lovelace-Regular.woff) format("woff");
}

@font-face {
 font-family: "Lovelace";
 font-style: normal;
 font-weight: 500;
 src: url(./fonts/Lovelace-Medium.woff) format("woff");
}

@font-face {
 font-family: "Lovelace";
 font-style: normal;
 font-weight: 600;
 src: url(./fonts/Lovelace-Bold.woff) format("woff");
}

@font-face {
 font-family: "Lovelace";
 font-style: normal;
 font-weight: 700;
 src: url(./fonts/Lovelace-ExtraBold.woff) format("woff");
}

